<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
  <body>
  <%- include('./partials/header.ejs') %> 

    <main>
      <div class="banner-grande">
        <img src="/images/bannerOficial.png" alt="">
      </div>
      <div class="products">
        <% products.forEach(product => { %>
        <article class="product">
          <img src="/images/products/<%= product.image %>" alt="producto1" />
          <p><strong><%= product.name %></strong></p>
          <p><%= product.precio %></p>
          <p><%= product.descuento %>  </p>
        </article>
        <% }) %>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %> 
  </body>
</html>
