<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
  <body>
  <%- include('./partials/header.ejs') %> 

      <div class="products">
        <% respuesta.forEach(producto => { %>
        <article class="product">
       <img src="/images/products/<%= producto.Imagenes[0].nombre_archivo%>" alt="producto1" />
          <p><strong><%= producto.nombre_producto%></strong></p>
          <p>$<%= producto.precio%></p>
          <p><%= producto.descripcion%></p>
        </article>
        <% }) %>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %> 
  </body>
</html>