<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %> 
  </head>
  <body>
  <%- include('./partials/header.ejs') %> 
  <div class="banner-grande">
    <img src="/images/bannerOficial.png" alt="" />
  </div>
      <div class="products">
        <% respuesta.forEach(producto => { %>
        <article class="product"><a href="/products/detail/<%= producto.id%>">
       <img src="/images/products/<%= producto.Imagenes[0].nombre_archivo%>" alt="producto1" />
      </a>
          <p><strong><%= producto.nombre_producto%></strong></p>
          <p>$<%= producto.precio%></p>
          <p><%= producto.descripcion%></p>
        </article>
        
        <% }) %>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %> 
  </body>
</html>