<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
  <body>
    <%- include('./partials/header.ejs') %> 
    <main>
      <div class="banner-grande" >
        <img src="/images/bannerOficial.png" alt="">
      </div>

      <div class="product-detail">
      <article class="detail">
      <img src="/images/products/<%= producto.Imagenes[0].nombre_archivo%>" alt="producto1" />
          <p>
        <strong style="font-size: 40px; height: 20vh;"><%= producto.nombre_producto %> </strong>
        <br><br>
        <strong style="font-size: 40px; height: 20vh;"> Descripción de Producto: </strong>
        <br>
        <%= producto.descripcion %>
         <br><br>
         <strong style="font-size: 40px; height: 20vh;"><%= producto.precio %> </strong>  
        </p>
        </article>
      </div>
      <div class="buy-section">
        <div class="buy-carrito"> <input type="submit" value="Agregar al carrito"></div>
      <div class="buy-info">
        <h4>Descuento de 15% en tu primera compra</h4>
      <img src="/images/mediosPago.jpeg" alt="">
      </div>
    </div>
    </main>
    <%- include('./partials/footer.ejs') %> 
  </body>
</html>
